li {
  color: black;
  font-size: huge;
}

p.sous-titre {
    color: rgb(199, 18, 139);
}

h1 {
  color:rgb(109, 13, 109);
  }

.container {
  display: grid;
  grid-template: 
     1fr 7fr / 6fr 2fr;
  grid-template-areas: 
    "header header  . "
    "main sidebar   . ";
  }

  .corps {
    grid-area: main;
  }

  .infos {
    grid-area: sidebar;
    border-left:rgb(109, 13, 109) solid 3px;
  }

  .intro {
    grid-area: header;
    border-bottom:rgb(109, 13, 109) solid 3px;
  }